.header {
  background: var(--primary);
  padding: 1rem;
}
.header h1 {
  color: var(--secondary);
  font-size: var(--large);
  font-weight: bold;
  transition: color 0.15s ease-out;
}
.header h1:hover {
  color: var(--white);
  transition: color 0.25s ease-in;
}
.header nav ul {
  display: flex;
}
.header nav li {
  color: var(--yellow-dark);
  margin-left: 1rem;
  transition: color 0.15s ease-out;
}
.header nav li a {
  padding: 0.5rem;
}
.header nav li a:hover,
.header nav li .active {
  color: var(--white);
  transition: color 0.25s ease-in;
}
.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1600px;
}
